@import "tailwindcss";


@layer utilities {
  .font-thai {
    font-family: var(--font-ibm-plex-thai), sans-serif;
  }

  .font-logo {
    font-family: var(--font-poetsen-one) , sans-serif;
  }
}

body {
  background-color: #F8F7FF;
  font-family: var(--font-poppins), sans-serif;
}

